.menu {
    &__item {
        width: 350px;
        min-height: 400px;
        background-color: #fff;
        box-shadow: 5px 5px 45px rgba(256,256,256,.1);
        border-radius: 8px;
        padding: 20px;
        margin: 0 10px;
        margin-bottom: 40px;
        list-style-type: none;
    }
    &__name {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
    &__img {
        width: calc(100% + 40px);
        transform: translateX(-20px);
        height: 240px;
        object-fit: cover;
        margin-bottom: 20px;
    }
    &__weight, &__count, &__description {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 10px;
        span {
            font-weight: 700;
        }
    }
    &__btn {
        display: flex;
        justify-content: space-between;
    }
    &__btn__detail {
        width: 150px;
        height: 40px;
        border: none;
        margin-right: 50px;
        background-color: #29a745;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    &__btn__delete {
        background: none;
        font-size: 30px;
        cursor: pointer;
        border: none;
    }
    &__btn__detail:hover {
        opacity: 0.7;
    }
    &__btn__delete:hover{
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}